/*
.payment {
  @extend .form_border_all;
  display: flex;
  flex-direction: column;
}

.payment__content {
  @extend .form__item_space-v_xxxl, .form__item_space-h_xl, .form__item_border_bottom;
}



.payment__footer {
  @extend .form__item_distribute_between, .form__item_border_bottom, .form__item_vertical-align_center, .form__item_space-v_l, .form__item_space-h_xl;
  display: flex;
}


.payment__header {
  @extend .form__item_space-v_l, .form__item_space-h_xl, .form__item_border_bottom;
  display: flex;
}*/
