
.footer {
    max-width: 1280px;
    margin: var(--space-xxxl) auto;

    @media only screen and (max-width: 1280px) {
        margin: var(--space-xxxl) var(--gap);
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }
}