
.header {
    margin: var(--space-xxxl) auto;
    max-width: 1280px;

    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 179px;
        height: 34px;
        background-color: var(--text-primary);
    }

    @media only screen and (max-width: 1280px) {
        margin: var(--space-xxxl) var(--gap);
    }
}

.onoffswitch {
    width: 97px;
    height: 32px;
    position: relative;
    border: 2px solid var(--color-border);

    &__button {
        position: absolute;

        margin: 2px;
        width: 24px;
        height: 24px;
        background-color: var(--color-border);

        &_state {
            &_on {
                right: 0;
            }
        }
    }
}