
.header {
    margin: auto;
    max-width: 1280px;

    &__content {
        padding: var(--space-xxxl) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 1280px) {
            padding: var(--space-xxxl) var(--gap);
        }
    }
    &__logo {
        width: 179px;
        height: 34px;
        background-color: var(--text-primary);
    }
}

.onoffswitch {
    width: 97px;
    height: 32px;
    position: relative;
    border: 2px solid var(--color-border);

    &_checked &__button {
        right: 0;
    }

    &__button {
        position: absolute;

        margin: 2px;
        width: 24px;
        height: 24px;
        background-color: var(--color-border);
    }
}