
.grid {
    display: grid;

    &_m-columns {
        &_12 {
            grid-template-columns: repeat(12, 1fr);
        }
        &_10 {
            grid-template-columns: repeat(10, 1fr);
        }
    }

    &_col-gap {
        &_full {
            grid-column-gap: var(--gap);
        }
        &_two-thirds {
            grid-column-gap: calc(2*var(--gap)/3);
        }
        &_half {
            grid-column-gap: calc(var(--gap)/2);
        }
    }

    &_row-gap {
        &_full {
            grid-row-gap: var(--gap);
        }
        &_half {
            grid-row-gap: calc(var(--gap)/2);
        }
    }

    &__fraction {
        &_m-col {
            &_2 {
                grid-column: span 2;
            }
            &_3 {
                grid-column: span 3;
            }
            &_4 {
                grid-column: span 4;
            }
            &_5 {
                grid-column: span 5;
            }
            &_8 {
                grid-column: span 8;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1/-1;
        }
    }
}
