.layout {
    &__container {
        background-color: var(--color-default);

        &_align_center {
            margin: auto;
        }

        &_size {
            &_s {
                max-width: $container-size-s;
            }
            &_m {
                max-width: $container-size-m;
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }
            &_xxxxxl {
                padding-top: var(--space-xxxxxl);
                padding-bottom: var(--space-xxxxxl);
            }
        }

        &_indent-b {
            &_xxl {
                margin-bottom: var(--space-xxl);
            }
            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }
    }
}
