
.history {
    border: 3px solid var(--color-border);

    @extend .list, .list_view_default, .list_border_all;

    &__transaction {
        @extend .e-accordion, .list, .list__item, .list__item_border_bottom, .list__item_space-a_m;
    }
    &__show {
        @extend .list__item, .list__item_indent-t_m, .e-accordion__short, .list__item_vertical-align_center;
        margin-top: 0;
    }
    &__hide {
        @extend .list__item, .list__item_indent-t_m, .e-accordion__more;
    }
    &__destination {
        flex: 1;

        @extend .icon-plus, .icon-plus_vertical-align_center;
    }
    &__pic {
        @extend .icon-plus__icon, .icon-plus__icon_indent-r_s, .icon-plus__icon_indent-l_l;
    }
    &__label {
        @extend .icon-plus__block;
    }
    &__description {
        flex-direction: column;
        @extend .list__item, .list__item_indent-b_m;
    }
    &__actions {
        @extend .list__item, .list__item_distribute_between, .list__item_indent-b_l;
    }

    &__details {
        display: flex;
        flex: 1;
    }
    &__time {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__quantity {
    }
    &__info {
        flex: 1;
    }
}
