<div class="history">
    <!--  1  -->
    <div class="history__transaction">
        <div class="history__show">

            <div class="history__details">
                <div class="history__time">
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>

                    </div>
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
                <div class="history__destination">
                    <div class="history__pic">
                        <div class="brand-logo brand-logo_name_blue brand-logo_size_m"></div>
                    </div>
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_l"></div>
                    </div>
                    <div class="history__quantity">
                        <div class="text text_view_primary text_size_l">
                            <div class="text__word text__word_width_m"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history__hide">
            <div class="history__description">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
            </div>

            <div class="history__actions">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="history__action-2">
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  2  -->
    <div class="history__transaction">
        <div class="history__show">

            <div class="history__details">
                <div class="history__time">
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>

                    </div>
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
                <div class="history__destination">
                    <div class="history__pic">
                        <div class="brand-logo brand-logo_name_purple brand-logo_size_m"></div>
                    </div>
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_l"></div>
                    </div>
                    <div class="history__quantity">
                        <div class="text text_view_primary text_size_l">
                            <div class="text__word text__word_width_m"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history__hide">
            <div class="history__description">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
            </div>

            <div class="history__actions">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="history__action-2">
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  3  -->
    <div class="history__transaction">
        <div class="history__show">

            <div class="history__details">
                <div class="history__time">
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>

                    </div>
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
                <div class="history__destination">
                    <div class="history__pic">
                        <div class="brand-logo brand-logo_name_red brand-logo_size_m"></div>
                    </div>
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_l"></div>
                    </div>
                    <div class="history__quantity">
                        <div class="text text_view_primary text_size_l">
                            <div class="text__word text__word_width_m"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history__hide">
            <div class="history__description">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
            </div>

            <div class="history__actions">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="history__action-2">
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  4  -->
    <div class="history__transaction">
        <div class="history__show">

            <div class="history__details">
                <div class="history__time">
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>

                    </div>
                    <div class="text text_view_ghost text_size_s">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
                <div class="history__destination">
                    <div class="history__pic">
                        <div class="brand-logo brand-logo_name_green brand-logo_size_m"></div>
                    </div>
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_l"></div>
                    </div>
                    <div class="history__quantity">
                        <div class="text text_view_primary text_size_l">
                            <div class="text__word text__word_width_m"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history__hide">
            <div class="history__description">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                    <div class="text__word text__word_width_m"></div>
                    <div class="text__word text__word_width_l"></div>
                </div>
            </div>

            <div class="history__actions">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="history__action-2">
                    <div class="text text_view_primary text_size_l">
                        <div class="text__word text__word_width_m"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>