.warning {
    min-height: 335px;
    @extend .informer, .informer_border_all, .informer_view_default, .theme_color_project-warning;

    &__content {
        flex-direction: column;
        align-items: center;

        .placeholder {
            margin: var(--space-m) 0;
        }

        @extend .informer__content, .informer__content_distribute_center, .informer__content_space-a_xxl;
    }

    &__button-wrapper {
        @extend .informer__action, .informer__action_distribute_center, .informer__action_space-a_xl;
    }
}
