<div class="warning">
    <div class="warning__content">
        <div class="placeholder placeholder_size_m warning__placeholder"></div>
        <div class="text text_type_p text_view_primary text_size_xl text_align_center">
            <div class="text__word text__word_width_s"></div>
            <div class="text__word text__word_width_l"></div>
            <div class="text__word text__word_width_m"></div>
            <div class="text__word text__word_width_m"></div>
            <div class="text__word text__word_width_s"></div>
            <div class="text__word text__word_width_m"></div>
            <div class="text__word text__word_width_l"></div>
            <div class="text__word text__word_width_s"></div>
            <div class="text__word text__word_width_m"></div>
        </div>

        <div class="warning__button-wrapper">
            <div class="button button_size_l"></div>
        </div>
    </div>
</div>