.form {
    display: flex;
    // TODO включить?
    //flex-direction: column;

    &_border_all {
        border: 3px solid var(--color-border);
    }

    &_view_default {
        background-color: var(--color-default);
    }

    &__item {
        display: flex;

        &_border_bottom:not(:last-child) {
            border-bottom: 3px solid var(--color-border);
        }
        &_distribute_between {
            justify-content: space-between;
        }
        &_vertical-align_center {
            align-items: center;
        }
        &_indent-b {
            &_xxxs {
                margin-bottom: var(--space-xxxs);
            }
            &_xxs {
                margin-bottom: var(--space-xxs);
            }
            &_s {
                margin-bottom: var(--space-s);
            }
            &_m {
                margin-bottom: var(--space-m);
            }
            &_l {
                margin-bottom: var(--space-l);
            }
            &_xl {
                margin-bottom: var(--space-xl);
            }
            &_xxl {
                margin-bottom: var(--space-xxl);
            }
            &_xxxl {
                margin-bottom: var(--space-xxxl);
            }
            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }
        &_space-h {
            &_xxxs {
                padding-left: var(--space-xxxs);
                padding-right: var(--space-xxxs);
            }
            &_xxs {
                padding-left: var(--space-xxs);
                padding-right: var(--space-xxs);
            }
            &_s {
                padding-left: var(--space-s);
                padding-right: var(--space-s);
            }
            &_m {
                padding-left: var(--space-m);
                padding-right: var(--space-m);
            }
            &_l {
                padding-left: var(--space-l);
                padding-right: var(--space-l);
            }
            &_xl {
                padding-left: var(--space-xl);
                padding-right: var(--space-xl);
            }
            &_xxl {
                padding-left: var(--space-xxl);
                padding-right: var(--space-xxl);
            }
            &_xxxl {
                padding-left: var(--space-xxxl);
                padding-right: var(--space-xxxl);
            }
            &_xxxxl {
                padding-left: var(--space-xxxxl);
                padding-right: var(--space-xxxxl);
            }
        }
        &_space-v {
            &_xxxs {
                padding-top: var(--space-xxxs);
                padding-bottom: var(--space-xxxs);
            }
            &_xxs {
                padding-top: var(--space-xxs);
                padding-bottom: var(--space-xxs);
            }
            &_s {
                padding-top: var(--space-s);
                padding-bottom: var(--space-s);
            }
            &_m {
                padding-top: var(--space-m);
                padding-bottom: var(--space-m);
            }
            &_l {
                padding-top: var(--space-l);
                padding-bottom: var(--space-l);
            }
            &_xl {
                padding-top: var(--space-xl);
                padding-bottom: var(--space-xl);
            }
            &_xxl {
                padding-top: var(--space-xxl);
                padding-bottom: var(--space-xxl);
            }
            &_xxxl {
                padding-top: var(--space-xxxl);
                padding-bottom: var(--space-xxxl);
            }
            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }
        }
    }

    // TODO check
    &__label_width_default>:not(&__control) {
        width: 35%; // use flex property
    }
}
