.icon-plus {
    display: flex;

    &_vertical_align {
        align-items: center;
    }

    &__icon {
        &_indent-r {
            &_s {
                margin-right: var(--space-s);
            }
            &_m {
                margin-right: var(--space-m);
            }
        }
        &_indent-l_l {
            margin-left: var(--space-l);
        }
    }

    &__block {}
}
