.icon-plus {
    display: flex;

    &_vertical-align {
        &_center {
            align-items: center;
        }
    }

    &__icon {
        /** icon */
        &_indent-r {
            &_s {
                margin-right: var(--space-s);
            }
            &_m {
                margin-right: var(--space-m);
            }
        }
        &_indent-l_l {
            margin-left: var(--space-l);
        }
    }

    &__block {
        /** block */
    }
}
