
.informer {
    &_border_all {
        border: 3px solid var(--color-border);
    }
    &_view_default {
        background-color: var(--color-default)
    }

    &__content, &__action {
        display: flex;

        &_distribute {
            &_default {
                justify-content: flex-start;
            }
            &_between {
                justify-content: space-between;
            }
            &_center {
                justify-content: center;
                // TODO check
                //align-items: center;
            }
        }

        &_space-a {
            &_xl {
                padding: var(--space-xl);
            }
            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}
