<div class="payment">

    <div class="payment__header">
        <div class="text text_view_primary text_size_xxl">
            <div class="text__word text__word_width_l"></div>
        </div>
    </div>

    <div class="payment__content">
        <div class="form__item form__item_indent-b_xl form__item_distribute_between">
            <div class="form__label form__label_width_default">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="form__control input input_size_l"></div>
            </div>
        </div>

        <div class="form__item form__item_indent-b_xl form__item_distribute_between">
            <div class="form__label form__label_width_default">
                <div class="text text_view_primary text_size_l">
                    <div class="text__word text__word_width_l"></div>
                </div>
                <div class="form__control input input_size_l"></div>
            </div>
        </div>
    </div>

    <div class="payment__footer">
        <div class="form__label form__label_width_default form__item_distribute_between">
            <div class="text text_view_primary text_size_l">
                <div class="text__word text__word_width_l"></div>
            </div>
            <div class="form__control button button_size_l"></div>
        </div>
    </div>

</div>