.placeholder {
    background-color: var(--text-primary);

    &_size_m {
        width: 72px;
        height: 72px;
    }

    &_view_primary {
        background-color: var(--text-primary);
    }
}
