.text {
    display: flex;
    // TODO check
    flex-flow: row wrap;

    &_align_center {
        justify-content: center;
    }
    &_size {
        &_s {
            --word-width-s: 20px;
            --word-width-m: 48px;
            --word-width-l: 100px;
            --word-height: 8px;
            --word-margin-top: calc((var(--line-height-s) - var(--font-size-s))*0.6);
            --word-margin-bottom: calc((var(--line-height-s) - var(--font-size-s))*0.4);
        }
        &_m {
            --word-width-s: 24px;
            --word-width-m: 56px;
            --word-width-l: 114px;
            --word-height: 10px;
            --word-margin-top: calc((var(--line-height-m) - var(--font-size-m))*0.55);
            --word-margin-bottom: calc((var(--line-height-m) - var(--font-size-m))*0.45);
        }
        &_l {
            --word-width-s: 28px;
            --word-width-m: 68px;
            --word-width-l: 138px;
            --word-height: 11px;
            --word-margin-top: calc((var(--line-height-l) - var(--font-size-l))*0.45);
            --word-margin-bottom: calc((var(--line-height-l) - var(--font-size-l))*0.55);
        }
        &_xl {
            --word-width-s: 32px;
            --word-width-m: 74px;
            --word-width-l: 154px;
            --word-height: 13px;
            --word-margin-top: calc((var(--line-height-xl) - var(--font-size-xl))*0.45);
            --word-margin-bottom: calc((var(--line-height-xl) - var(--font-size-xl))*0.55);
        }
        &_xxl {
            --word-width-s: 36px;
            --word-width-m: 88px;
            --word-width-l: 184px;
            --word-height: 16px;
            --word-margin-top: calc((var(--line-height-xxl) - var(--font-size-xxl))*0.35);
            --word-margin-bottom: calc((var(--line-height-xxl) - var(--font-size-xxl))*0.65);
        }
    }
    &_type {
        &_h1 {
            margin: 18px 0 24px;
        }
        &_h2 {
            margin: 45px 0 21px;
        }
        &_h3 {
            margin: 42px 0 0;
        }
        &_p {
            margin: 15px 0 21px;
        }
    }
    &_view {
        &_primary {
            --color: var(--text-primary);
        }
        &_secondary {
            --color: var(--text-secondary);
        }
        &_ghost {
            --color: var(--text-extra);
        }
        &_link {
            --color: var(--text-link);
        }
    }

    &__word {
        background-color: var(--color);
        height: var(--word-height);
        margin-top: var(--word-margin-top);
        margin-bottom: var(--word-margin-bottom);

        &_width {
            &_s {
                width: var(--word-width-s);
            }
            &_m {
                width: var(--word-width-m);


            }
            &_l {
                width: var(--word-width-l);
            }
        }
    }
}
