/* TODO --image-url корректы?*/

.theme_color {
    &_project-default {
        --color-default: #FFFFFF;
        --color-accent: #ffcc00;
        --color-border: #000000;

        --text-primary: #000000;
        --text-secondary: rgba(0, 0, 0, 0.6);
        --text-extra: rgba(0, 0, 0, 0.3);
        --text-link: #0077ff;

        --image: var(--color-default) #{$image-primary-base64url} no-repeat center;
        --image-border-color: #FFFFFF;
    }

    &_project-brand {
        --color-default: #0070f0;
        --color-accent: #FFFFFF;
        --color-border: #FFFFFF;

        --text-primary: #FFFFFF;
        --text-secondary: rgba(255, 255, 255, 0.6);
        --text-extra: rgba(255, 255, 255, 0.3);
        --text-link: #FFFFFF;

        --image: var(--color-default) #{$image-inverse-base64url} no-repeat center;
        --image-border-color: #000000;
    }

    &_project-inverse {
        --color-default: #000000;
        --color-accent: #FFFFFF;
        --color-border: #FFFFFF;

        --text-primary: #FFFFFF;
        --text-secondary: rgba(255, 255, 255, 0.6);
        --text-extra: rgba(255, 255, 255, 0.3);
        --text-link: #0077ff;

        --image: var(--color-default) #{$image-inverse-base64url} no-repeat center;
        --image-border-color: #000000;
    }

    &_project-warning {
        --color-default: #ff3333;
        --color-accent: #FFFFFF;
        --color-border: #ff3333;

        --text-primary: #FFFFFF;
        --text-secondary: rgba(255, 255, 255, 0.6);
        --text-extra: rgba(255, 255, 255, 0.3);
        --text-link: #FFF;

        --image: var(--color-default) #{$image-primary-base64url} no-repeat center;
        --image-border-color: #FFFFFF;
    }
}
