.theme_size_default {
    --font-size-s: 8px;
    --font-size-m: 10px;
    --font-size-l: 11px;
    --font-size-xl: 13px;
    --font-size-xxl: 16px;

    --line-height-s: 21px;
    --line-height-m: 25px;
    --line-height-l: 28px;
    --line-height-xl: 34px;
    --line-height-xxl: 38px;
}
