<div class="event">
    <div class="event__content">
        <div class="event__preview">
            <div class="avatar avatar_size_m event__speaker"></div>
            <div class="brand-logo brand-logo_name_blue brand-logo_size_m"></div>
        </div>
        <div class="event__title">
            <div class="text text_view_primary text_size_xxl text_align_center">
                <div class="text__word text__word_width_l"></div>
            </div>
        </div>
        <div class="event__description">
            <div class="text text_view_primary text_size_l text_align_center">
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
                <div class="text__word text__word_width_l"></div>
            </div>
        </div>
    </div>
    <div class="event__footer">
        <div class="text text_view_link text_size_xl text_align_center">
            <div class="text__word text__word_width_s"></div>
            <div class="text__word text__word_width_s"></div>
        </div>
    </div>
</div>